@import "tailwindcss";

@theme {
  --color-primary: #B4D429;
  --color-dark: #171923;
  --color-light: #FFF;
  --color-body: #1D1E28;

  --container-center: true;
  --container-padding: 1.25rem;
}

@layer {
  .container {
    @apply mx-auto;
    padding: 1.25rem;
  }
}